<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave | Dashboard</title>

    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="page-container">
    <div class="nav-bar-container">
        <div id="nav" class="nav-bar">
            <ul>
                <li><a th:href="@{/admin/home}" class="active">Home</a></li>
                <li><a th:href="@{/admin/employees}">Employee</a></li>
                <li><a th:href="@{/admin/requests}">Request</a></li>
                <li><a href="#">More Action</a></li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        <div class="header align-content">
            <h2>Leave Manager System</h2>
            <div class="profile">
                <img onclick="openProfile()" th:src="@{/img/profile.png}" alt="@@" src="#">
                <span sec:authentication="name">@@</span>
                <div id="dropdown-profile" class="dropdown-profile">
                    <a href="#">Profile</a>
                    <a href="#">Change Password</a>
                    <a href="#" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>

        <div id="nav-state" class="nav-state align-content ">
            <a th:href="@{home}">Home</a>
        </div>

        <div class="main-content align-content">
            <div class="header-table">
                <h3>Leave Manager</h3>
                <button type="button" class="btn">Some Action</button>
            </div>

            <div class="table-container">
                <h4>No more data here. I will update analysis data after.</h4>
            </div>
        </div>

        <div class="footer align-content">
            &copy; Copyright by Hulk
        </div>
    </div>
</div>

<script th:src="@{/js/script.js}" type="application/javascript" rel="script"></script>

</body>
</html>