<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leave | 404</title>

    <link th:href="@{/css/404.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
    <div class="TextHolder">
        <div class="Texts">
            <div class="FourOhFour">404</div>
            <div class="Maybe">GUH.. Maybe.. We have</div>
            <span>PROBLEMS HERE</span>
            <div class="Bad">MY BAD this page couldn't be found.</div>
            <div class="Return">RETURN HOME</div>
        </div>
        <div class="Body">
            <div class="LeftEye"></div>
            <div class="RightEye"></div>
            <div class="EyeShadows"></div>
            <div class="Mouth"></div>
            <div class="MouthShadows"></div>
            <div class="Theet"></div>
            <div class="BodyTexture"></div>
        </div>
        <div class="Horns">
            <div class="HornsExtras"></div>
        </div>
        <div class="LeftHand"></div>
        <div class="RightHand"></div>
    </div>
</div>

<button class="btn"><a th:href="">Go home</a></button>
<script th:src="@{/js/404.js}" type="application/javascript" rel="script"></script>

</body>
</html>