* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    overflow-y: auto;
}

h1, h2, h3, h4 {
    color: lightskyblue;
}

.page-container {
    height: 100%;
    width: 100%;
}

.main-container {
    width: 82%;
    margin: 0 auto;
    float: right;
    padding: 10px 20px;
}

.nav-bar-container {
    width: 17%;
    height: 98%;
    margin: 0 auto;
    position: fixed;
    background-color: black;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
}

.nav-bar {
    height: 100%;
    width: 100%;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.nav-bar li a {
    display: block;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
}

.nav-bar li a:hover {
    color: lightgray;
    background-color: darkgray;
}

.nav-bar li a.active {
    background-color: #4CAF50;
    color: white;
}

.main-container .header {
    display: flex;
    justify-content: space-around;
}

.nav-state a {
    text-decoration: none;
}

.nav-state a.active {
    color: red;
}

.align-content {
    background-color: white;
    margin-bottom: 15px;
    padding: 10px 20px;
}

.main-container .header h2 {
    flex: 1;
}

.main-content .header-table {
    display: flex;
    justify-content: space-around;
}

.main-content .header-table h3 {
    flex: 1;
}

.footer {
    text-align: center;
}

.main-container .header .profile {
    max-width: 40%;
    display: flex;
    color: blue;
    align-items: center;
    position: relative;
}

.main-container .header .profile .dropdown-profile {
    display: none;
    padding: 15px;
    top: 65px;
    left: 15px;
    background-color: #D5F7F6;
    position: absolute;
    z-index: 1;
    min-width: 70%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.main-container .header .profile .dropdown-profile a {
    display: block;
    text-decoration: none;
    color: darkgray;
    padding: 3px;
}

.main-container .header .profile img {
    max-height: 60px;
    margin: 0 10px;
    cursor: pointer;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-info {
    background-color: darkblue;
}

.btn-danger{
    background-color: red;
}

.btn-normal {
    background-color: white;
    color: black;
}

.btn:hover {
    background-color: darkgreen;
    color: white;
}


.table-container {
    max-height: 450px;
    overflow: auto;
}

.table {
    width: 100%;
    border: 1px solid red;
    border-collapse: collapse;
    text-align: left;
}

.table tr:nth-child(odd) {
    background-color: lightblue;
}

.table tr:hover {
    background-color: lightcoral;
}

.table th {
    color: white;
    background-color: red;

    position: sticky;
    top: 0;
}

.table th, td {
    padding: 10px 20px;
    margin: 0;
}

.table img {
    max-width: 20px;
    cursor: pointer;
}

.modal-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /*visibility: hidden;*/
}

.modal-box-content {
    background-color: lightcoral;
    margin: 5% auto;
    padding: 20px;
    border: none;
    border-radius: 6px;
    width: 80%;
}

.modal-box-content-confirm {
    width: 30%;
}

.modal-box-content-confirm .form {
    justify-content: center;
}

.modal-box-content-confirm .form label{
    color: lightskyblue;
    margin: 20px;
    display: block;
    text-align: center;
}

.modal-box-content-confirm .form .selection{
    display: flex;
    justify-content: space-around;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.form select, input[type=text], input[type=email], input[type=password], input[type=submit], input[type=date], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form input[type=submit] {
    width: 100%;
}

.form .dropdown .dropdown-label {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Comic Sans MS", serif ;
    font-weight: lighter;
}

.form .dropdown .dropdown-label:hover {
    background-color: lightblue;
    cursor: pointer;
}

.form .dropdown .dropdown-list {
    display: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form .dropdown .dropdown-list .checkbox {
    display: block;
    margin: 5px 0;
}

.form .dropdown .dropdown-list .checkbox .checkbox-item {
    opacity: 0.7;
}

.table select {
    border-radius: 8px;
    padding: 5px;
    appearance: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.col {
    flex: 1 0 0;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card > hr {
    margin-right: 0;
    margin-left: 0;
}

.card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
}

.card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
    border-top: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-title {
    margin-bottom: 0.5rem;
}

.card-subtitle {
    margin-top: -0.25rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 1rem;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -0.5rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-group > .card {
    margin-bottom: 0.75rem;
}

.align-items-center {
    align-items: center !important;
}
.border-success {
    border-color: #28a745 !important;
}
.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}
.container-fluid{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

