<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leave | Employees</title>

    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="page-container">
    <div class="nav-bar-container">
        <div id="nav" class="nav-bar">
            <ul>
                <li><a th:href="@{/hr/dashboard}">Dashboard</a></li>
                <li><a th:href="@{/hr/employees}" class="active">Employees</a></li>
                <li><a th:href="@{/hr/requests}">Requests</a></li>
                <li><a th:href="@{/employee/dashboard}">Go to Employee Page</a></li>
                <li><a href="#">More Action</a></li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        <div class="header align-content">
            <h2>Leave Manager System</h2>
            <div class="profile">
                <img onclick="openProfile()" th:src="@{/img/profile.png}" alt="@@" src="#">
                <span sec:authentication="name">@@</span>
                <div id="dropdown-profile" class="dropdown-profile">
                    <a href="#">Profile</a>
                    <a href="#">Change Password</a>
                    <a href="#" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>

        <div id="nav-state" class="nav-state align-content ">
            <a th:href="@{home}">Home</a>
            <span>&rarr;</span>
            <a class="active" th:href="@{employees}">Employee</a>
        </div>

        <div class="main-content align-content">
            <div class="header-table">
                <h3>Employees Manager</h3>
                <button type="button" class="btn" onclick="openModalBox('add-employee')">Add Employee</button>
            </div>
            <div class="table-container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>On Work</th>
                        <th>Managers For</th>
                        <th>Manager By</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="employee : ${employees}">
                        <tr>
                            <td th:text="${employee.name}">Name</td>
                            <td th:text="${employee.email}">email</td>
                            <td th:text="${employee.onWork}">ON WORK</td>
                            <td>
                                <select>
                                    <option th:each="lower : ${employee.lowerLevels}"
                                            th:text="${lower.name}"></option>
                                </select>
                            </td>
                            <td th:if="${employee.upperLevel}" th:text="${employee.upperLevel.name}"></td>
                            <td th:unless="${employee.upperLevel}" th:text="None"></td>
                            <td>
                                <img src="#" th:src="@{/img/detail.jpg}" alt="@@">
                                <img src="#" th:src="@{/img/edit.svg}" alt="@@">
                                <img src="#" th:src="@{/img/delete.svg}"
                                     th:data-delete="|delete${employee.id}|"
                                     onclick="openModalBox(this.getAttribute('data-delete'))"
                                     alt="@@">
                                <div th:id="|delete${employee.id}|" class="modal-box">
                                    <div class="modal-box-content modal-box-content-confirm">
                                        <form class="form" th:action="@{|/hr/employees/delete/${employee.email}|}"
                                              method="post">
                                            <label> Are your sure delete this employee ?</label>
                                            <div class="selection">
                                                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                                                <button th:data-delete="|delete${employee.id}|" type="button"
                                                        class="btn btn-normal"
                                                        onclick="closeModalBox(this.getAttribute('data-delete'))">Cancel
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <div id="add-employee" class="modal-box">
                <div class="modal-box-content">
                    <span class="close-modal" onclick="closeModalBox('add-employee')">&times;</span>
                    <form class="form" action="#" th:action="@{/hr/add-employee}" th:object="${form}"
                          method="post">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Employee's name.." th:field="*{inputName}"
                               required>

                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="Employee's email.."
                               th:field="*{inputEmail}"
                               required>

                        <label for="manager">Manager</label>
                        <select id="manager" th:field="*{managerId}">
                            <option value="">-- Select Manager --</option>
                            <option th:each="manager : ${employees}" th:value="${manager.id}" th:text="${manager.name}">
                                Hulk
                            </option>
                        </select>

                        <label for="role">Role</label>
                        <select id="role" th:field="*{role}">
                            <option value="">-- Select Role --</option>
                            <option value="ROLE_HR">HR</option>
                            <option value="ROLE_EMPLOYEE">Employee</option>
                        </select>
                        <input type="submit" value="Add now" class="btn">
                    </form>
                </div>
            </div>
        </div>

        <div class="footer align-content">
            &copy; Copyright by Hulk
        </div>
    </div>
</div>

<script th:src="@{/js/script.js}" type="application/javascript" rel="script"></script>

</body>
</html>